{% extends 'dogs/base.html' %}
{% block content %}
<div class="row">
    <div class="card mb-12 box-shadow">
        <div class="card-header">
            <p class="card-text">
                Отзыв: {{ object.dog.name }}
            </p>
            <div class="card-body">
                <p class="card-text">
                    {{ object.content}}
                </p>
                <span class="text-muted">Дата создания:{{object.created}}</span>
                <span class="text-muted">Дата создания:{{object.author|default:"Удаленый пользователь"}}</span>
            </div>
            <div class="card-footer">
                <a href="{% url 'reviews:reviews_list' %}" class=""> << Назад
               </a>
            </div>
        </div>
    </div>

</div>
{%endblock%}